<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Simon Engledew">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel="stylesheet/less" type="text/css" href="{{ static('stylesheets/application.less') }}" />
    <script src="/static/javascripts/less.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1><img src="/static/images/head.png" />Spelunkateers Daily Challenge</h1>
    </header>
    <table>
        <tbody>
            <tr>
                <td><div class="meatboy character"><label>JoJo</label><a href="#"></a></div></td>
                <td><div class="robot character"><label>Simon</label><a href="#"></a></div></td>
                <td><div class="viking character"><label>Marcus</label><a href="#"></a></div></td>
            </tr>
        </tbody>
    </table>
    <script src='/feed.json?{{ token() }}' type='text/javascript'></script>

    <script src='/static/javascripts/events.min.js' type='text/javascript'></script>
    <script src='/static/javascripts/bonzo.min.js' type='text/javascript'></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/sizzle/1.10.9/sizzle.min.js' type='text/javascript'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js' type='text/javascript'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js' type='text/javascript'></script>

    <script type='text/javascript'>
        String.format = function()
        {
          var replacements = arguments;
          return arguments[0].replace(/\{(\d+)\}/gm, function(string, match) { return replacements[parseInt(match) + 1] });
        }

        _.each(_.groupBy(_.sortBy(_.filter(
            data.entries,
            function filter(entry) {
                return entry.title.indexOf('Spelunkateers -') == 0;
            }),
            function sortBy(entry) {
                entry.updated = Date.parseExact(entry.updated_parsed, 'yyyy-MM-ddTHH:mm:ssZ');
                return entry.updated;
            }),
            function groupBy(entry) {
                return new RegExp('Spelunkateers - (\\S+)').exec(entry.title)[1];
            }),
            function each(entries, name) {
                entry = _.last(entries);
                element = _.first(Sizzle(String.format(".character > label:contains({0})", name), document));
                if (element) {
                    element = _.first(bonzo(element).parent());
                    element = bonzo(_.first(Sizzle('a', element)));
                    element.text(entry.updated.toString('dd/MM'));
                    element.attr('href', entry.link);
                }
            }
        );

        _.each(Sizzle('.character', document), function addEvent(element) {
                Events.bind(element, 'click', function clickLink(e) {
                    if (e.srcElement == element) {
                        e.stopPropagation();
                        _.first(Sizzle('a', e.target)).click();
                    }
                });
        });


    </script>
</body>
</html>
