<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
<link rel="stylesheet/less" type="text/css" href="application.less?{{ token() }}" />
<script src="less.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1><img src="head.png" />Spelunkateers Daily Challenge</h1>
    </header>
    <table>
        <tbody>
            <tr>
                <td><div class="meatboy character"><label>JoJo</label><a href="#"></a></div></td>
                <td><div class="robot character"><label>Simon</label><a href="#"></a></div></td>
                <td><div class="viking character"><label>Marcus</label><a href="#"></a></div></td>
            </tr>
        </tbody>
    </table>
    <script src='/feed.json' type='text/javascript'></script>
    <script src='/wgxpath.install.js' type='text/javascript'></script>
    <script src='/events.min.js' type='text/javascript'></script>
    <script src='/bonzo.min.js' type='text/javascript'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/sizzle/1.10.9/sizzle.min.js' type='text/javascript'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js' type='text/javascript'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        wgxpath.install()

        String.format = function()
        {
          var replacements = arguments;
          return arguments[0].replace(/\{(\d+)\}/gm, function(string, match) { return replacements[parseInt(match) + 1] });
        }
        function xpath(expression) {
            return document.evaluate(expression, document).iterateNext();
        }

        _.each(_.groupBy(_.sortBy(_.filter(data.entries,
            function filter(entry) {
                return entry.title.indexOf('Spelunkateers -') == 0;
            }),
            function sortBy(entry) {
                entry.updated = Date.parseExact(entry.updated_parsed, 'yyyy-MM-ddTHH:mm:ssZ');
                return entry.updated;
            }),
            function groupBy(entry) {
                return new RegExp('Spelunkateers - (\\S+)').exec(entry.title)[1];
            }),
            function each(entries, name) {
                entry = _.last(entries);
                element = xpath(String.format('//label[text()="{0}"]/../a', name));
                if (element) {
                    element = bonzo(element);
                    element.text(entry.updated.toString('dd/MM'));
                    element.attr('href', entry.link);
                }
            }
        );

        _.each(Sizzle('.character', document), function addEvent(element) {
                Events.bind(element, 'click', function clickLink(e) {
                    if (e.srcElement == element) {
                        e.stopPropagation();
                        _.first(Sizzle('a', e.target)).click();
                    }
                });
        });

    </script>
</body>
</html>
